* {
    margin:0;
}

.topnav *{
    display:inline;
}

.topnav .links {
    float: right;
}

.main-container {
    display:block;
    height: 2000px;
}

.main-container div{
    border: 1px;
    border-color: black;
    height: 25%;
}

.intro {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

footer {
    background-color: #1F2937;
    height:50px;
}